.env
.env.*
*.env
*.db
*.sqlite
*.sqlite3
*.log
venv/
env/
.venv/
__pycache__/
node_modules
*.pyc
*.pyo
*.pyd
*.txt
hasil_build/
dist/
build/
*.spec
uploads/
static/uploads/
images/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.json
!package.json
!package-lock.json
!requirements.txt
*.exe